body {font-family: 'Courier';}

h1 {font-family: 'Russo One', sans-serif;}

img {width: 105px;
	 height: 77px;}

#titles {font-size: 16pt;
   		 display: block;
  		 clear: both;
 		 font-weight: bold;}


.imgCharacters {padding: 20px;
				border: 1px solid #000;
				/*width: 200px;*/
				float: left;
				margin-right: 10px;
				background-color: #FFF;
				margin-bottom: 10px;
				text-align: center;}

.hiddenChars {display: none;}


#charName {margin-top: 0;
		   font-weight: bold;
		   font-family: Tahoma, serif;}

.backCol {background-color: '#ffff00';}

#gameStats {clear: both;
			font-weight: bold;}		   				